<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
</head>
<body>
  <h1>Calculadora básica</h1>
  <div>
    <label>Digite o primeiro número: </label>
    <input type="text" [(ngModel)]="v1" />
    <br>
    <label>Digite o segundo número: </label>
    <input type="text" [(ngModel)]="v2" />
  </div>
  <div>
    <button (click)="sum()">+</button>
    <button (click)="sub()">-</button>
    <button (click)="mult()">x</button>
    <button (click)="div()">/</button>
  </div>
  <div>
    <b><label>Resultado: {{ r() }}</label></b>
    <br>
    <b><label>Resultado dobrado: {{ rDoubled() }}</label></b>
  </div>
</body>
</html>